/* - Primary (blue) - #1400FF
- Light Gray - #D4D4D4
- Dark Gray (icons) - #757575
- Errors (red) - #FF0000
- Success (green) - #5FA12B */

:root {
	--border-input: #d4d4d4;
	--background-label: white;
	--primary-blue: #1400ff;
	--error-red: #ff0000;
}

.icon {
	margin-left: 0.5rem;
	font-size: 0.7rem;
}

.error {
	color: var(--error-red);
}

.input__control {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 1.2rem auto;
}

.input__control:focus-within label {
	opacity: 1;
}

.input__input {
	border: 1px solid var(--border-input);
	font-size: 1.4rem;
	padding: 0.7rem;
}

.input__input[type='password'] {
	background: url('/show.svg') no-repeat right 10px center;
}

.input__input::placeholder {
	color: var(--primary-blue);
}

.input__input:focus {
	border: none;
	outline: 2px solid var(--primary-blue);
	background-color: white;
}

.input__label {
	background-color: var(--background-label);
	color: var(--primary-blue);
	padding: 0rem 0.5rem 0rem 0.1rem;
	position: absolute;
	left: 13px;
	top: -13px;
	opacity: 0;
}
