/* - Primary (blue) - #1400FF
- Light Gray - #D4D4D4
- Dark Gray (icons) - #757575
- Errors (red) - #FF0000
- Success (green) - #5FA12B */

:root {
	--border-input: #d4d4d4;
	--background-label: white;
	--primary-blue: #1400ff;
	--error-red: #ff0000;
}

.input__row_container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0.9rem auto;
	width: 75%;
}

.input__control {
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
	width: 60%;
}

.input__control:focus-within label {
	opacity: 1;
}

.input__input {
	border: 1px solid var(--border-input);
	font-size: 1.4rem;
	padding: 0.7rem;
	width: 100%;
}

.input__control--icon {
	position: absolute;
	opacity: 0.6;
	right: 10px;
	cursor: pointer;
}

.input__input::placeholder {
	color: var(--primary-blue);
}

.input__input:focus {
	border: none;
	outline: 2px solid var(--primary-blue);
	background-color: white;
}

.input__label {
	background-color: var(--background-label);
	color: var(--primary-blue);
	padding: 0rem 0.5rem 0rem 0.1rem;
	position: absolute;
	left: 13px;
	top: -13px;
	opacity: 0;
}

.success_error {
	width: 40%;
	text-align: start;
}

.icon {
	margin-left: 0.6rem;
	font-size: 0.7rem;
}

.error {
	color: var(--error-red);
}
